.profile-pic {
    height: 150px;
    width: 130px;
}

header {
    display: flex;
    justify-content: space-around;
    border: 2px solid purple;
}

h1 {
    border: 2px solid yellow
}

nav a {
    color: orange;
}

nav {
    display: inline-flex;
    border: 2px solid blue;
    width: 70%;
}

nav ul li {
    list-style-type: none;
    font-size: 2rem;
    border: 2px solid red;
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    border: 2px dotted purple;
    width: 100%;
}