* {
    margin: 10px;
}

body {
    background: linear-gradient(.25turn, #f1dac4, #a69cac);
}

p {
    font-size: 1.25rem;
}

/* Header */
.profile-pic {
    height: 330px;
    width: 270px;
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    position: relative;
    padding-top: 25px;
}

nav a {
    color: green;
    text-decoration: none;
}

nav {
    display: inline-flex;
    width: 70%;
}

nav ul li {
    list-style-type: none;
    font-size: 2rem;
}

nav ul li:hover {
    cursor: pointer;
    transform: scale(1.3);
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
/* --------------------------------------------------- */

/* About me */
.about-me {
    display: inline-flex;
    align-items: center;
    max-height: 400px;
}

.about-me p {
    align-items: center;
}

.favorite-quote h4 {
    color: purple;
    text-align: center;
}

.favorite-quote p {
    color:rgb(243, 232, 225);
    font-size: 1.1rem;
}

.favorite-quote {
    margin: 40px;
    width: 90%;
    background-color: #a69cac;
    border-radius: 5px;
    min-height: 110%;
}
/* --------------------------------------------- */
/* Work */

.work {
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.grid-item {
    background-color: blue;
    color: white;
    height: 200px;
    display: inline-block;
    position: relative;
    bottom: 0;
}

.grid-item p {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.grid-item h3 {
    margin: 0 auto;
}

/* Work-example-1 */
.work-example-1 a {
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 20px;
}

.work-example-2 h3, .work-example-3 h3, .work-example-4 h3, .work-example-5 h3 {
    padding-bottom: 180px;
    position: relative;
    bottom: 20px;
} 

.work-example-2 a, .work-example-3 a, .work-example-4 a, .work-example-5 a {
    color: white;
    text-decoration: none;
}


.work-example-1 {
    grid-column: span 2;
    display: inline-block;
    background-image: url(./images/space-banner-with-purple-planet-landscape_107791-6230.webp);
}

.work-example-1:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.work-example-2 p {
    color: black;
    font-weight: bold;
    background-color: white;
}

.work-example-2 {
    background-image: url(./images/nile-banner.jpg);
}

.work-example-2:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.work-example-3 {
    background-image: url(./images/math-banner.jpg);
}

.work-example-3:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.work-example-4 {
    background-image: url(../assets/images/VideoGameFinder.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.work-example-4:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.work-example-5 {
    background-image: url(./images/virtual_banner.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.work-example-5:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.grid-item-h3 {
    text-align: center;
}

#grid-item-p {
    text-align: center;
    margin: 150px auto;
    position: relative;
}

/* ---------------------------------------------------- */
/* Contact me */
.contact-me {
    background: linear-gradient(.25turn, #e66465, #9198e5);
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
}

footer h2 {
    font-size: 30px;
    font-weight: bold;

}

.footer-name {
    display: inline;
    font-weight: bold;
}

footer {
    height: 250px;
    width: 40%;
    margin: auto;
}

.input-section {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    position: relative;
}

button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    right: 10px;
}

.text-box {
    width: 300px;
    /* width: 10%; */
}

/* Media Queries */

/* Note to grader: due to only 1% of the population having a screen with a width of 350px, I decided it would be unreasonable to program for any smaller */

/* Favorite quote disappears at 1390px */
@media screen and (max-width: 1370px) {
    .favorite-quote {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li a{
        font-size: 15px;
        flex-shrink: 1;
        flex-basis: 0;
    }
}

@media screen and (max-width: 650px) {
    header li a {
        font-size: 27px;
    }
}

/* About me section dips below the profile picture at 987, 600, 495, 420, and 380px */
@media screen and (max-width: 987px) {
    .about-me {
        display: flex;
        flex-direction: column;
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 600px) {
    .about-me {
        margin-bottom: 500px
    }
}

@media screen and (max-width: 495px) {
    .about-me {
        margin-bottom: 600px;
    }
}

@media screen and (max-width: 420px) {
    .about-me {
        margin-bottom: 700px;
    }
}

@media screen and (max-width: 380px) {
    .about-me {
        margin-bottom: 800px;
    }
}

/* 1100 -> Navigation li elements become max-width 100px; */
@media screen and (max-width: 889px) {
    header li a {
        max-width: 100px;
        position: relative;
        right: 60px;
        white-space: nowrap; 
    }
}

/* 650px -> header li a gets smaller to prevent overlapping from h1 */


/*.first-input-paragraph fontsize -> 15px with VH */
@media screen and (max-width: 715px) {
    .first-input-paragraph {
        font-size: calc(15px + 0.19vw); /*This solution was given to me by a tutor back in July */
    }
}
/* 1110 text boxes become smaller */

@media screen and (max-width: 1110px) {
    .text-box {
        width: 250px;
    }
}

@media screen and (max-width: 970px) {
    .text-box {
        width: 200px;
    }
}

@media screen and (max-width: 850px) {
    .text-box {
        width: 150px;
    }
}

@media screen and (max-width: 725px) {
    .text-box {
        width: 100px;
    } 
}

@media screen and (max-width: 625px) {
    .first-input-paragraph {
        display: none;
    }

    .footer-name {
        display: block;
    }

    .contact-me {
        height: 350px;
        margin-bottom: 100px;
        column-gap: -10px;
    }



}

@media screen and (max-width: 420px) {
    .text-box {
        width: 60px;
    }

    button {
        right: 30px;
    }

    .contact-me {
        height: 350px;
    }
}

@media screen and (max-width: 400px) {
    button {
        width: 100px;
    }
}


/* Contact Me at 600px */
/* expand the size of the back ground  and center everything better. You may need to use smaller font as well */